@model IEnumerable<Tm2TestAppService.Models.Nouchi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MapDataID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chiban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sakuki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SakumotsuMei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chimoku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MapDataID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chiban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sakuki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SakumotsuMei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chimoku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MapDataID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MapDataID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MapDataID })
        </td>
    </tr>
    }

</table>
